<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="static\estilo.css">
    <title>Calculadora Flask </title>
    <header id="cabecalho">
        <hgroup>
            <h1>Calculadora FLASK</h1>
        </hgroup>
        <nav id="menu">
            <ul>
                <li><a href="/index.html">Início</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/registrar.html">Cadastrar-se</a></li>
                <li><a href="/login.html">LOGIN</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</head>
<body>
{% block content %}

{% endblock %}


</body>
</html>